<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DigiVerifier Pdf</title>
    <meta charset="UTF-8"/>
    <!--    <link  th:href="@{styles/css/Metro.css}"  rel="stylesheet"/>-->
    <link th:href="@{styles/css/fonts.css}" rel="stylesheet"/>
    <link th:href="@{styles/css/common.css}" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto}" rel="stylesheet"/>
    <!--<script src='http://localhost:9090/chart.js'></script>-->
    <style>
        span {

            font-family: 'Roboto';
        }

        .table-st {
            clear: both;
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }

        .table-st tr {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        .table-st tr td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }

        .table-st tr td span {
            margin-left: 5px;
        }

        .blue-bg {
            background-color: #355794;
        }

        .grey-bg {
            background-color: #A8A8A8;
        }


        .black-text {
            color: black;
            font-size: 12px;
            font-weight: bold;
            font-family: 'Roboto';
        }

        .grey-text {
            color: #141414;
            font-size: 12px !important;
            font-weight: bold;
            font-family: 'Roboto';
        }

        .white-text {
            font-weight: bold;
            color: #fff;
            font-family: 'Roboto';
            font-size: 10px;
        }

        .td-heading {

            font-weight: bold;
            font-size: 16px;
        }

        .line-break {
            display: block;
            height: 15px;
        }

        .sub-heading {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
        }

        .green-status {
            margin: 0px;
            color: #008000;
            font-weight: bold;
            font-family: 'Roboto';
            font-size: 12px;
        }

        .amber-status {
            margin: 0px;
            color: #ffA500;
            font-weight: bold;
            font-family: 'Roboto';
            font-size: 12px;
        }

        .red-status {
            margin: 0px;
            color: #ff0000;
            font-weight: bold;
            font-family: 'Roboto';
            font-size: 12px;
        }

        .invalid-status {
            margin: 0px;
            color: #000000;
            font-weight: bold;
            font-family: 'Roboto';
            font-size: 12px;
        }

        .black-box {
            border: 1px solid black;
        }
    </style>
</head>
<body style="background-color:#fff;padding:0px;margin:0px;position:relative;font-family: 'Roboto', sans-serif;color:#666666;">
<section class="wrapper" style="width:100%;margin:0 auto;height:80%;">
    <span class="line-break"></span>
    <span class="line-break"></span>

    <table class="table-st">
        <tr>
            <td class="text-left">
               <span class="grey-text" style="width:50%;font-size:14px">
                    <b th:text="${root.organizationName}"></b>
                </span>
            </td>
            <td class="text-center blue-bg" style="width:50%;">
                <span class="white-text blue-bg" style="font-size:15px;padding:2px;">
                    <b> Digital Employment BGC Report</b>
                </span>
            </td>
        </tr>
        <tr>
            <td class="text-left">
               <span class="grey-text" style="font-size:10px; width:50%">
                    <b th:text="${root.organizationLocation}"></b>
                </span>
            </td>
            <td class="text-center" style="width:50%;">
                <img style="height: auto;width: 75px;" th:src="${root.organizationLogo}"/>
            </td>
        </tr>
    </table>
    <span class="line-break"></span>
    <span class="line-break"></span>

    <table class="table_head table-st">
        <!--concept Title head-->
        <tr>
            <td class="grey-bg" colspan="2">
                <span class="td-heading black-text">BACKGROUND PROFILE</span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;" class="grey-bg text-left">
                <span class="black-text">
                    <b>Name of the Candidate</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.name}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;" class="grey-bg text-left">
                <span class="black-text">
                    <b>Date of Birth</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.dob}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;" class="grey-bg text-left">
                <span class="black-text">
                    <b>Contact No</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.contactNo}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;" class="grey-bg text-left">
                <span class="black-text">
                    <b>Email ID</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.emailId}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;" class="grey-bg text-left">
                <span class="black-text">
                    <b>Reference ID</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.applicantId}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;padding: 5px;" class="grey-bg">
                <span class="black-text">
                    <b>Project/BU</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.project}"></b>
                </span>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;padding: 5px;" class="grey-bg">
                <span class="black-text">
                    <b>Fresher/ Experienced</b>
                </span>
            </td>
            <td style="padding: 5px" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.experience}"></b>
                </span>
            </td>
        </tr>
        <!--            <tr>-->
        <!--            <td style="padding: 5px" class="grey-bg text-left">-->
        <!--                <span  class="black-text">-->
        <!--                    <b>Report Type</b>-->
        <!--                </span>-->
        <!--            </td>-->
        <!--            <td style="text-align:left;padding: 5px;">-->
        <!--                <span class="grey-text">-->
        <!--                    <b th:text="${root.reportType}"></b>-->
        <!--                </span>-->
        <!--            </td>-->
        <!--        </tr>-->

        <tr>
            <td style="padding: 5px" class="grey-bg text-left">
                <span class="black-text">
                    <b>Case Inititaion Date & Time</b>
                </span>
            </td>
            <td style="padding: 5px" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.caseInitiationDate}"></b>
                </span>
            </td>
        </tr>

        <tr>
            <td style="padding: 5px" class="grey-bg text-left">
                <span class="black-text">
                    <b>Report Delivered Date & Time</b>
                </span>
            </td>
            <td style="padding: 5px;" class="text-left">
                <span class="grey-text">
                    <b th:text="${root.finalReportDate}"></b>
                </span>
            </td>
        </tr>


        <tr style="padding:5px">
            <td style="text-align:left;width: 25%;padding: 10px 5px;" class="grey-bg">
                <span class="black-text">
                    <b>Verification Status</b>
                </span>
            </td>
            <td style="border-collapse: collapse;border: 1px solid black; padding: 10px 5px;"
                th:switch="${root.verificationStatus.name()}">
                <span class="green-status" th:case="'GREEN'" th:text="${root.verificationStatus}"></span>
                <span class="amber-status" th:case="'AMBER'" th:text="${root.verificationStatus}"></span>
                <span class="red-status" th:case="'RED'" th:text="${root.verificationStatus}"></span>
                <span class="invalid-status grey-text" th:case="*">INVALID</span>
            </td>
        </tr>
    </table>
    <span class="line-break"></span>
    <span class="line-break"></span>

    <table class="table-st">
        <tr>
            <td colspan="3" class="grey-bg text-center">
                <span class="td-heading black-text" style="font-size:10px">COLOR CODE</span>
            </td>
        </tr>
    </table>
    <span class="line-break"></span>
    <table class="table-st">

        <tr class="text-center">

            <td style="width:33%">
        <span style="font-size:10px;font-weight: bold;" class="grey-text">
            DISCREPANCY - <b style="color:#ff0000">RED</b>
        </span>
            </td>
            <td style="width:33%">
        <span style="font-size:10px;font-weight: bold;
    " class="grey-text">
            CLEARED - <b style="color:#008000">GREEN</b>
        </span>
            </td>
            <td style="width:33%">
        <span style="font-size:10px;font-weight: bold;" class="grey-text">
             UNABLE TO VERIFY/ DUAL - <b style="color:#ffA500">AMBER</b>
        </span>
            </td>

        </tr>
    </table>
    <span class="line-break"></span><span class="line-break"></span>

    <div>
        <p class="grey-text" style="font-size:10px">
            Disclaimer: This report only sets out information obtained from records searched by CROSSBOW. And is issued
            on “as is
            where is” basis. No opinion is provided in respect of the corporate entities or individuals who are the
            subject of the report here
            in. CROSSBOW abides by the FCPA (Foreign Corrupt Practices Act) & FCRA (Fair Credit Reporting Act) Policies.
            This report does
            not constitute recommendations as to what action should be taken. It is difficult to verify all aspects of
            the information
            obtained due to the nature of the research and the limitations of obtaining such information from public
            records. Thus, while
            due care has been taken to ensure the accuracy of the compilation of information contained in this report,
            given the limitations
            of obtaining such information as noted above, no responsibility will be taken by CROSSBOW for the
            consequences of relying
            upon information contained in this report. All information supplied in this report is intended to be for the
            sole purpose of the
            client’s evaluation and is not intended for public dissemination.
        </p>
    </div>


    <div style="page-break-after:always;"> <!-- content --></div>
    <span class="line-break"></span><span class="line-break"></span>
    <p class="grey-text sub-heading">EXECUTIVE SUMMARY</p>

    <table class="table-st employer-name-verification" border="0">
        <tr class="blue-bg text-center">
            <td class="white-text" colspan="6">
                <span class="td-heading"><b>Section Ⅰ: ID Verification  </b>
                </span>
            </td>
        </tr>
        <tr class="text-center">
            <td class="blue-bg" style="width:5%"><span class="white-text">S. No.</span></td>
            <td class="blue-bg" style="width:20%"><span class="white-text">ID Items</span></td>
            <td class="blue-bg" style="width:20%"><span class="white-text">Name</span></td>
            <td class="blue-bg" style="width:20%"><span class="white-text">ID No</span></td>
            <td class="blue-bg" style="width:10%"><span class="white-text">Source</span></td>
            <td class="blue-bg" style="width:10%"><span class="white-text">Result</span></td>

        </tr>
        <tr class="text-center" th:each="employmentVerification,stat: ${root.idVerificationDTOList}">
            <td class="grey-text text-center"><span th:text="${stat.index + 1}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentVerification.iDtype}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentVerification.name}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentVerification.idNo}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentVerification.sourceEnum}"></span></td>
            <td class="grey-text text-center" th:switch="${employmentVerification.verificationStatus.name()}">
                <span class="green-status" style="font-size:12px" th:case="'GREEN'"
                      th:text="${employmentVerification.verificationStatus}"></span>
                <span class="amber-status" style="font-size:12px" th:case="'AMBER'"
                      th:text="${employmentVerification.verificationStatus}"></span>
                <span class="red-status" style="font-size:12px" th:case="'RED'"
                      th:text="${employmentVerification.verificationStatus}"></span>
                <span class="invalid-status" style="font-size:12px" th:case="*">INVALID</span>
            </td>
        </tr>
    </table>

    <span class="line-break"></span><span class="line-break"></span>
    <table class="table-st" border="0">
        <tr>
            <td colspan="6" class="text-center blue-bg ">
               <span class="td-heading white-text"><b>Section ⅠⅠ: Employment Verification  </b>
                </span>
            </td>
        </tr>
        <tr class="text-center">
            <td class=" blue-bg" style="width:5%;"><span class="white-text text-center">S. No.</span></td>
            <td class=" blue-bg" style="width:30%;"><span class="white-text text-center">Employers</span></td>
            <td class=" blue-bg" style="width:35%;"><span class="white-text text-center">Tenure </span></td>
            <td class="blue-bg" style="width:10%;"><span class="white-text text-center">Source</span></td>
            <td class=" blue-bg" style="width:10%;"><span class="white-text text-center">Result</span></td>
        </tr>
        <tr class="text-center"
            th:each="employmentTenureVerification,stat: ${root.employmentTenureVerificationDtoList}">
            <td class="grey-text text-center"><span th:text="${stat.index + 1}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentTenureVerification.employerName}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentTenureVerification.output}"></span></td>
            <td class="grey-text text-center"><span th:text="${employmentTenureVerification.source}"></span></td>
            <td style="border-collapse: collapse;border: 1px solid black;"
                th:switch="${employmentTenureVerification.verificationStatus.name()}">
                <span class="green-status" style="font-size:12px" th:case="'GREEN'"
                      th:text="${employmentTenureVerification.verificationStatus}"></span>
                <span class="amber-status" style="font-size:12px" th:case="'AMBER'"
                      th:text="${employmentTenureVerification.verificationStatus}"></span>
                <span class="red-status" style="font-size:12px" th:case="'RED'"
                      th:text="${employmentTenureVerification.verificationStatus}"></span>
                <span class="invalid-status" style="font-size:12px" th:case="*">INVALID</span>
            </td>

        </tr>
    </table>

    <span class="line-break"></span><span class="line-break"></span>
    <div th:if="${not #lists.isEmpty(root.educationVerificationDTOList)}">
        <table class="table-st" border="0">
            <tr>
                <td colspan="6" class="text-center blue-bg ">
               <span class="td-heading white-text"><b>Section ⅠⅠⅠ: Education Verification  </b>
                </span>
                </td>
            </tr>
            <tr class="text-center">
                <td class=" blue-bg" style="width:5%;"><span class="white-text text-center">S. No.</span></td>
                <td class=" blue-bg" style="width:30%;"><span
                        class="white-text text-center">Qualification Attained</span></td>
                <td class=" blue-bg" style="width:35%;"><span class="white-text text-center">University/College </span>
                </td>
                <td class="blue-bg" style="width:10%;"><span class="white-text text-center">Source</span></td>
                <td class=" blue-bg" style="width:10%;"><span class="white-text text-center">Result</span></td>
            </tr>
            <tr class="text-center" th:each="education,stat: ${root.educationVerificationDTOList}">
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${stat.index + 1}"></span></td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${education.degree}"></span>
                </td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${education.university}"></span>
                </td>
                <td class="grey-text text-center"><span style="font-size:12px" th:text="${education.source}"></span>
                </td>
                <td style="border-collapse: collapse;border: 1px solid black;"
                    th:switch="${education.verificationStatus.name()}">
                    <span class="green-status" style="font-size:12px" th:case="'GREEN'"
                          th:text="${education.verificationStatus}"></span>
                    <span class="amber-status" style="font-size:12px" th:case="'AMBER'"
                          th:text="${education.verificationStatus}"></span>
                    <span class="red-status" style="font-size:12px" th:case="'RED'"
                          th:text="${education.verificationStatus}"></span>
                    <span class="invalid-status" style="font-size:12px" th:case="*">INVALID</span>
                </td>

            </tr>
        </table>
        <span class="line-break"></span><span class="line-break"></span>
    </div>


    <div th:if="${root.addressVerificationDtoList}">
        <table class="table-st" border="0"></table>
        >
        <tr>
            <td colspan="6" class="text-center blue-bg ">
               <span class="td-heading white-text"><b>Section ⅠV: Address Verification  </b>
                </span>
            </td>
        </tr>
        <tr class="text-center">
            <td class=" blue-bg" style="width:5%;"><span class="white-text text-center">S. No.</span></td>
            <td class=" blue-bg" style="width:30%;"><span class="white-text text-center">Verification Items</span></td>
            <td class=" blue-bg" style="width:35%;"><span class="white-text text-center">Details </span></td>
            <td class="blue-bg" style="width:10%;"><span class="white-text text-center">Source</span></td>
            <td class=" blue-bg" style="width:10%;"><span class="white-text text-center">Result</span></td>
        </tr>
        <tr class="text-center" th:each="address,stat: ${root.addressVerificationDtoList}">
            <td class="grey-text text-center"><span style="font-size:10px" th:text="${stat.index + 1}"></span></td>
            <td class="grey-text text-center"><span style="font-size:10px" th:text="${address.type}"></span></td>
            <td class="grey-text text-center"><span style="font-size:10px" th:text="${address.input}"></span></td>
            <td class="grey-text text-center"><span style="font-size:10px" th:text="${address.source}"></span></td>
            <td style="border-collapse: collapse;border: 1px solid black;"
                th:switch="${address.verificationStatus.name()}">
                <span class="green-status" style="font-size:12px" th:case="'GREEN'"
                      th:text="${address.verificationStatus}"></span>
                <span class="amber-status" style="font-size:12px" th:case="'AMBER'"
                      th:text="${address.verificationStatus}"></span>
                <span class="red-status" style="font-size:12px" th:case="'RED'"
                      th:text="${address.verificationStatus}"></span>
                <span class="invalid-status" style="font-size:12px" th:case="*">INVALID</span>
            </td>

        </tr>
        </table>

        <div style="page-break-after:always;"> <!-- content --></div>
    </div>

    <div th:if="${root.epfoData}">
        <table class="table-st" border="0">
            <tr>
                <td colspan="6" class="text-center blue-bg ">
               <span class="td-heading white-text"><b> EPFO </b>
                </span>
                </td>
            </tr>
            <tr rowspan="2" class="blue-bg text-center">
                <td style="width:5.5%" class="white-text text-center">
                <span class="white-text">S. No.
                </span>
                </td>

                <td style="width:33%" class="white-text text-center">
                <span class="white-text">Employer Name
                </span>
                </td>
                <td style="width:55%" colspan="2" class="blue-bg text-center">
                <span class="white-text">Tenure
                </span>
                </td>
            </tr>
            <tr class="blue-bg text-center">
                <td></td>
                <td></td>
                <td class="blue-bg text-center">
                <span class="white-text">EPFO DOJ
                </span>
                </td>
                <td class="blue-bg text-center">
                <span class="white-text"> EPFO LWD
                </span>
                </td>
            </tr>

            <tr class="text-center" th:each="epfo,stat: ${root.epfoData.epfoDataList}">
                <td class="grey-text text-center"><b><span style="font-size:10px"
                                                           th:text="${stat.index + 1}"></span></b></td>
                <td class="grey-text text-center"><b><span style="font-size:10px" th:text="${epfo.company}"></span></b>
                </td>
                <td class="grey-text text-center"><span style="font-size:10px" th:text="${epfo.doj}"></span></td>
                <td class="grey-text text-center"><span style="font-size:10px" th:text="${epfo.doe}"></span></td>
            </tr>
        </table>
    </div>

    <div style="page-break-after:always;"> <!-- content --></div>
    <div th:if="${root.itrData}">
        <p class="sub-heading">26AS Statement</p>

        <table class="mars_tab table-st itr-data" style="margin-top:20px;background:transparent;clear:both;" border="0">
            <tr class="blue-bg">
                <td class="blue-bg text-center" style="width: 5%;"><span class="white-text">Financial Year</span></td>
                <td class="blue-bg text-center" style="width: 10%;"><span class="white-text">TAN</span></td>
                <td class="blue-bg text-center" style="width: 25%;"><span class="white-text">Deductor</span></td>
                <td class="blue-bg text-center" style="width: 5%;"><span class="white-text">Section</span></td>
                <td class="blue-bg text-center" style="width: 15%;"><span class="white-text">Date</span></td>
                <td class="blue-bg text-center" style="width: 10%;"><span class="white-text">Amount</span></td>
            </tr>
            <tr style="text-align:center;" th:each="itr,stat: ${root.itrData.itrDataList}">
                <td><span class="grey-text text-center"><i th:text="${itr.financialYear}"></i></span></td>
                <td><span class="common_padding grey-text text-center"><i th:text="${itr.tan}"></i></span></td>
                <td><span class="common_padding grey-text text-center"><i th:text="${itr.deductor}"></i></span></td>
                <td><span class="common_padding grey-text text-center"><i th:text="${itr.section}"></i></span></td>
                <td><span class="grey-text text-center"> <i th:text="${itr.date}"></i> </span></td>
                <td><span class="common_padding grey-text text-center"><i th:text="${itr.amount}"></i></span></td>
            </tr>

        </table>
    </div>
    <div th:if="${root.comments}">
        <p class="sub-heading">COMMENTS</p>
        <textarea class="grey-text" style="font-size:10px" readonly="true" th:text="${root.comments}" rows="3"
                  cols="150">
        </textarea>

    </div>

    <span class="line-break"></span><span class="line-break"></span>
    <span class="line-break"></span><span class="line-break"></span>


    <!-- <p class ="text-center grey-text" style="font-size:14px"><b>- End of the report -</b></p> -->
</section>
</body>
</html>
