<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle">{{ pageTitle }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customer Bill Summary
                        <small class="text-danger float-right">(Please enter rates of atleast one BGV items)</small>
                    </h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered mt-2">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>SI#</th>
                                            <th>BGV Items</th>
                                            <th>Rate per Report</th>
                                            <th>Rate per Item</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of getbgv;let i = index;">
                                            <td>
                                                <input type="hidden" class="billServiceId{{item.sourceId}}" [(ngModel)]="item.serviceId">{{i+1}}
                                            </td>
                                            <td>
                                                {{item.sourceName}}
                                            </td>
                                            <td>
                                                <input type="text" (keyup)="onKeyUp()" class="form-control form-control-sm x-billcomponents billrpp{{item.sourceId}}" id="ratePerReport{{i+1}}" [(ngModel)]="item.ratePerReport"/>
                                            </td>
                                            <td>
                                                <input type="text" (keyup)="onKeyUp()" class="form-control form-control-sm x-billcomponents billrpi{{item.sourceId}}" id="ratePerItem{{i+1}}" [(ngModel)]="item.ratePerItem"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="BillData_stat">
                                        <tr>
                                            <td class="text-right" colspan="4">
                                                <b>Bill Total: {{getCustomerBillData}}</b>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center mt-3 pb-3">
                                <button type="button" (click)="billsubmit()" *ngIf="this.getBillValues == null" class="btn btn-primary btn-sm">Submit</button>
                                <button type="button" (click)="billUpdate()" *ngIf="this.getBillValues != null" class="btn btn-primary btn-sm">Update</button>
                                <a routerLink="../../admindashboard" class="btn btn-danger btn-sm">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>



