<section class="login_content">
    <div class="container">
        <div class="lc_left">
            <h1><img src="assets/img/logo2.png"></h1>
            <p>Digital Employment Verification less than 10 Minutes</p>
        </div>
        <div class="lc_right">
            <div class="lc_right_con">
                <h2>Forgot Password</h2>
                <div class="loginForm">
                    <form action="">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter User Name" id="email">
                        </div>
                        <button type="submit" class="btn btn-primary btn-login">Submit</button>
                    </form>
                    <a routerLink="">Back to Login</a>
                </div>
            </div> 
          </div>
          
    </div>
    <div class="col-md-12 text-center" style="margin-top:20px;">
        
    </div>
</section>
