<div class="pageHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="pageTitle">{{ pageTitle }}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container dashboard_container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="z-index: 1;margin: -10px 0 10px 0;box-shadow: 0px 7px 14px #00000017;">
                <div class="card-body" style="padding: 15px 20px 10px;">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" (click)="filterToday()" 
                            class="btn btn-sm btn-primary btn-block">Today</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" (click)="filterLast7days()" 
                             class="btn btn-sm btn-primary btn-block">Last 7 Day</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" (click)="filterLast30days()" 
                            class="btn btn-sm btn-primary btn-block">Last 30 Day</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form [formGroup]="dashboardFilter">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="z-index: 1;margin: -10px 0 10px 0;box-shadow: 0px 7px 14px #00000017;">
                            <div class="card-body" style="padding: 15px 20px 10px;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group mb-0">
                                            <div class="input-group date-picker">
                                                <span>From</span>
                                                <input #rangeFrom="ngbDatepicker" formControlName="fromDate" id="inputFromDate" (dateSelect)="onfromDate($event)"  [maxDate]="getToday"
                                                class="form-control form-control-sm text-right" ngbDatepicker readonly placeholder="From Date"/>
                                                <div class="input-group-append">
                                                    <button  class="btn btn-sm btn-outline-secondary" (click)="rangeFrom.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb-0">
                                            <div class="input-group date-picker">
                                                <span>To</span>
                                                <input #rangeTo="ngbDatepicker" [startDate]="getMinDate" [minDate]="getMinDate" [maxDate]="getToday" 
                                                formControlName="toDate" id="inputToDate" (dateSelect)="ontoDate($event)" 
                                                class="form-control form-control-sm text-right" ngbDatepicker readonly  placeholder="To Date"/>
                                                <div class="input-group-append">
                                                    <button  class="btn btn-sm btn-outline-secondary" (click)="rangeTo.toggle()" type="button"><img src="../assets/img/calendar.png"/></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mb-0">
                                            <button type="button" (click)="onSubmitFilter(dashboardFilter)" 
                                            class="btn btn-sm btn-success btn-block">Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-customer-activities></app-customer-activities>
        </div>

        <div class="col-md-6">
            <app-selected-activities></app-selected-activities>
        </div>

        <div class="col-md-6">
            <app-rate-per-item></app-rate-per-item>
        </div>

        <div class="col-md-6">
            <app-rateperreport></app-rateperreport>
        </div>

        <div class="col-md-12">
            <app-activity-comparision></app-activity-comparision>
        </div>

        <div class="col-md-6 d-none">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Agent Details</h4>
                </div>
                <div class="card-body">
                    <div id="agentDetails" style="width: 100%; height: 300px"></div>
                  <app-agent-details></app-agent-details>
                </div>
            </div>
        </div>

    </div>
</div>

