<div class="sharedpage">
    <div class="sharedpage_content">
        <img src="assets/img/error.png">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <b>Oops!</b>
                    Something Went Wrong
                </h2>
                <p>Sorry we are unable to process your request right now. Contact our system admin at <b>admin@dgverifier.com</b></p>
                <a routerLink="/" class="btn btn-sm btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>