<div class="card dashboard_card">
    <div class="card-header">
        <h4 class="card-title">
            Candidate Activities Details
            <select class="form-control form-control-sm float-right d-none" #ca (change)="saDurationFilter(ca.value)">
                <option [value]="" disabled>--Select--</option>
                <option [value]="0">Today</option>
                <option [value]="7">Last 7 days</option>
                <option [value]="30">Last 30 days</option>
            </select>
            <select class="form-control form-control-sm float-right" #cid (change)="getCustomerData(cid.value)">
                <option [value]="" disabled>--Select--</option>
                <option [value]="0">All</option>
                <option *ngFor="let item of getCustID" [value]="item.organizationId">{{ item.organizationName }}</option>
            </select>
        </h4>
    </div>
    <div class="card-body">
        <div id="customerActivities" style="width: 100%; height: 250px"></div>
    </div>
</div>
