@import  "../../../assets/scss/admin.scss";
.checkbox {
    display: inline;
  }
.firstcheckbox
  {
    padding-right: 10px;
    font-weight: 700;
  }
  .inputcheckbox{
    margin-right: 20%;
    height: 15px;
    width: 15px
    }
.showvalid{
    margin-top: 3%;
}

  